.form-group {
  margin-bottom: 1rem;
	align-items: center;
}

.no-gap {
	gap: 0 !important;
}

.col-md-3 {
	flex: 0 0 auto;
	width: 25% !important;
}

.col-md-9 {
	flex: 0 0 auto;
	width: 60%;
}

textarea {
	font-family: inherit;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.8;
}

.btn {
  font-size: 16px;
}

.btn-primary {
  background-color: rgb(13, 110, 253);
  border: 1px solid rgb(13, 110, 253);
  border-radius: 6px;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #f8f9fa;
  color: #000;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid rgb(248, 249, 250);
}

.form-group {
  margin-bottom: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
}

.col-form-label {
  width: 100px;
}

.is-invalid ~ .invalid-feedback {
  display: block;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(33, 37, 41);
  appearance: none;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.is-invalid {
  border-color: rgb(220, 53, 69);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control:invalid:focus, .form-control.is-invalid:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}